body, .shell, .title, .item {
	font-family: 'Lato', sans-serif;
}
div {
	border-style: solid;
	border-color: chocolate;
	border-width: 1px;
}
.shell {
	max-width: 600px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}
.title {
	text-align: center;
	width: 600px;
	font-size: 2em;
	margin-bottom: 15px;
}
.enter-field {
	float: left;
	width: 594px;
	height: 30px;
	margin-bottom: 15px;

}
.remove-x {
	float: left;
	width: 50px;
	text-align: left;
}
.item {
	float: left;
	width: 500px;
	text-align: left;
	padding-top: 5px;
}
.check {
	float: left;
	width: 40px;
	text-align: right;
}