body, .shell, .title, .item {
	font-family: 'Lato', sans-serif;
}
div {
/*	border-style: solid;
	border-color: chocolate;
	border-width: 1px;*/
}
.item-row {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #efefef;
}
.shell {
	max-width: 600px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}
.title {
	text-align: center;
	width: 600px;
	font-size: 2em;
	margin-bottom: 15px;
}
.enter-field {
	float: left;
	width: 594px;
	height: 30px;
	margin-bottom: 15px;

}
.remove-x {
	float: left;
	width: 50px;
	text-align: left;
}
.item {
	float: left;
	width: 500px;
	text-align: left;
	padding-top: 5px;
	font-size: 1em;
}
.check {
	float: left;
	width: 40px;
	text-align: right;
}
::-webkit-input-placeholder {
   color: #CC3300;
   font-size: 1.5em;
}

:-moz-placeholder { /* Firefox 18- */
   color: #CC3300;  
   font-size: 1.5em;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #CC3300;  
   font-size: 1.5em;
}

:-ms-input-placeholder {  
   color: #CC3300;  
   font-size: 1.5em;
}